{# templates/homepage_ex.html.twig #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>

    <p>À partir du contrôleur ci-dessous, écrivez le contenu du fichier homepage.html.twig en mettant le contenu de la balise h1> en majuscules. Affichez ensuite le contenu du dernier article en affichant la date au bon format.</p>
        <h1>{{ title|upper }}</h1>
        <p>{{ content }}</p>
        <h2>Le dernier article</h2>
        
        <p>{{ lastPost.title }} écrit le {{ lastPost.createdAt|date('d/m/Y') }}</p>
    </body>
</html>